<h1>New User</h1>
<form method="POST" action="/register">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <label for="email">Email</label>
  <input type="email" name="email" id="email">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" id="passwordConfirmation">

  <button>Register</button>
</form>
