<h1>My Account</h1>

<a href="/account/edit">Edit Account Information</a>
<a href="/playlists/new">Create New Playlist</a>

<h4>Username: <%= user.username %></h4>
<h4>Email: <%= user.email %></h4>
<%# <img src="</%= user.avatar %/>" alt="</%= user.username %/>">%>
<h4>Name: <%= user.name %></h4>
<%# <h4></%= user.playlists %/></h4>%>
<%# embed playlist.show %>

<form method="POST" action="/account">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete Account</button>
</form>

<div class="temp">
  <p><%= user %></p>
</div>
