<nav>
  <ul class="clearfix">
    <span class="floatLeft">
      <li class="navLogo">
        <a href="/">
          <img src="/assets/images/musr-logo.png" alt="logo">
        </a>
      </li>
      <% if(locals.isAuthenticated) { %>
        <li><a href="/users">Users</a></li>
      <% } %>
      <li><a href="/playlists">Playlists</a></li>
    </span>

    <span class="floatRight">
      <% if(locals.isAuthenticated) { %>
        <li><a href="/account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </span>

  </ul>
</nav>






<%# <ul>
<li><a href="/users/show">View User</a></li>
<li><a href="/user/</%= user.id %/>">View User</a></li>
Error: Can't set headers after they are sent.
</ul>%>
