<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/index">Users Index</a></li>
    <li><a href="/">Playlist Index</a></li>

    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>

    <li><a href="/account">My Account</a>
      <ul>
        <li><a href="/account/edit">Edit Account</a></li>
      </ul>
    </li>

    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
