<nav>
  <ul class="clearfix">
    <span class="floatLeft">
      <li class="navLogo">
        <a href="/">
          <img src="/assets/images/musr-logo.png" alt="logo">
        </a>
      </li>
      <li><a href="/playlists">Playlists</a></li>
    </span>

    <span class="floatRight">
      <% if(locals.isAuthenticated) { %>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/account">My Account</a></li>
      <% } else { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>
    </span>

  </ul>
</nav>
