<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users Index</a>
      <%# <ul>
        <li><a href="/users/show">View User</a></li>
         <li><a href="/user/</%= user.id %/>">View User</a></li>
        Error: Can't set headers after they are sent.
      </ul>%>
    </li>
    <li><a href="/playlists">Playlists Index</a>
      <ul>
        <li><a href="/playlists/new/">New Playlist</a></li>
      </ul>
    </li>

    <% if(locals.isAuthenticated) { %>
      <li><a href="/account">My Account</a>
      <ul>
      <li><a href="/account/edit">Edit Account</a></li>
      </ul>
      </li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } %>

  </ul>
</nav>
