<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musR</title>
    <% include ./partials/scripts %>
    <%# <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">%>
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon4.ico">
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon4.ico" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Monoton|Homemade+Apple|Permanent+Marker" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <header>
      <% include ./partials/navbar %>
      <% for(const type in messages) { %>
        <div class="message <%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>
    </header>
    <main>
      <%- body %>

    </main>
    <footer>
      Made with &hearts; by <a href="https://github.com/mersoz">Muge Ersoz</a> at GA London
    </footer>
  </body>
</html>
