<h1>Add new song</h1>

<form method="POST" action="/playlists/<%= playlist.id %>/songs/new">
  <div class="search-fields">
    <div>
      <label for="name">Song name: </label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="artist">Performer: </label>
      <input type="text" name="artist" id="artist">
    </div>
    <div>
      <label for="album">Album name: </label>
      <input type="text" name="album" id="album">
    </div>
    <div>
      <label for="year">Year: </label>
      <input type="text" name="year" id="year">
    </div>
    <div>
      <label for="live">Live? </label>
      <input type="checkbox" name="live" id="live" value="live">
    </div>
    <div>
      <label for="addInfo">Additional info: </label>
      <input type="text" name="addInfo" id="addInfo">
    </div>
  </div>
  <div>
    <label for="youtube">Search on Youtube</label>
    <input type="hidden" name="url">
    <button type="button" id="search">Search Youtube</button>
  </div>

  <div class="results"></div>


  <button>Add song to playlist</button>
</form>
