<h1>Browse Playlists</h1>

<div class="folderContainer clearfix">
  <% playlists.forEach((playlist) => { %>
    <div class="playlistFolder">
        <a href="/playlists/<%= playlist.id %>" class='playlistFolderTitle'>
          <%= playlist.name %>
        </a><br>
        <p><small>by <a href="/users/<%= playlist.createdBy.id %>"><%= playlist.createdBy.username %></a>
        </small></p>
    </div>
<% }) %>
</div>
