<h1>Playlist Index</h1>
<%#   playlist.show && iterate through list of playlists   %>
<div>
  <% playlists.forEach((playlist) => { %>
    <div class="playlistFolder">
        <a href="/playlists/<%= playlist.id %>" class='playlistFolderTitle'>
          <%= playlist.name %>
        </a><br>
        <small>created by: <a href="/users/<%= playlist.createdBy.id %>"><%= playlist.createdBy.username %></a>
        </small>
    </div>
<% }) %>
</div>
