<h1>Create New Playlist</h1>

<form method="POST" action="/playlist/new">
  <div>
    <label for="name">Playlist Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="private">Private/Public:</label>
    <input type="text" name="private" id="private">
  </div>

  <button>Create</button>
</form>
