<h1>Create New Playlist</h1>

<form method="POST" action="/playlists/new">
  <div>
    <label for="name">Playlist Name</label>
    <input type="text" name="name" id="name">
  </div>
  <%# <div>
    <label for="private">Private:</label>
    <input type="checkbox" name="private" id="private">
    (can be changed later)
  </div>%>

  <button>Create</button>
</form>
