$brown: #8b4513;
$yellow: #8b8113;
$green: #138b45;
$purple: #45138b;
$red: #8b131d;
$blue: #13598b;
$bg-white: #c9d7ca;
$white: #fff;

* { //get rid of whitespace
  margin: 0;
  padding: 0;
  // line-height: 30px;
  color: $purple;
  box-sizing: border-box;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: sans-serif;
  background: url("/assets/images/cassette_smallcopy.jpg");
  background-color: $bg-white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  nav {
    font-family: 'Josefin Slab';
    ul {
      background-color: $blue;
      list-style-type: none;
      margin: 0;
      padding-top: 5px;
      // padding: 13px 0 10px 0;
      font-size: 0; //get rid of space between li elements
      span {
        display: inline-block;
      }
      .floatRight {
        float: right;
      }
      .floatLeft {
        float: left;
      }
      li {
        padding: 10px;
        display: inline-block;
        font-size: 35px; //fall back for old browsers
        font-size: 3vw; //font size adjustes with screen width
        // padding: 0 10px;
        // letter-spacing: 2px;
        // border: solid 1px black;
        a {
          color: $white;
          img.navLogo {
            height: 2.5vw;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  button {
    background-color: $blue;
    color: $white;
    border: outset 5px $blue;
  }

  button.topButton {
    padding: 5px 15px;
    margin: 0 5px 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
  }

  button.center {
    // text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $red;
    border: outset 5px $red;

  }
  button.miniButton {
    border: none;
    color: $red;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0);
  }

  a {
    text-decoration: none;
  }

  form.oneButtonForm {
    display: inline-block;
    button.delete {
      background-color: $red;
      border: outset 5px $red;
    }
  }

  main {
    width: 800px;
    // height: 100vh;
    margin: 0 auto;
    // border: white solid 1px;
    padding: 20px 0;
    overflow: hidden;
    // word-wrap: break-word; //for long strings

    h1 {
      font-size: 40px;
      margin-bottom: 20px;

      font-family: 'Monoton';
      // display: block;
      // overflow: hidden;
    }

    form {
      display: block;
      // line-height: 100px;
      div {
        margin-bottom: 5px;
        label {
          width: 15%;
          display: inline-block;
          text-align: right;
          // background: white;
          // border: solid 1px black;
        }
        input {
          width: 15%;
          border: none;
          // background-color: $blue;
        }
      }
      button.inFormButton {
        width: 150px;
        width: 15%;

      }
    }

    div.results {
      padding: 10px;
      width: 100%;
      // float: right;
      display: block;
      overflow: hidden;
      div {
        width: 100%;
        box-sizing: content-box;

        border-top: solid 3px $blue;
        border-bottom: solid 3px $blue;
        margin-bottom: 5px;

        background-color: rgba(255, 255, 255, .5);
        img {
          float: left;
          margin-right: 10px;
          // display: block;
        }
        h4, small {
          float: right;
          width: 50%;
        }
        button {
          float: right;
          margin-right: 10%;
          margin-top: 5%;
        }
      }
    }
    div.results * {
      display: inline-block;
    }
    // border: solid 1px black;
    div.playlistFolder:nth-child(3n+2) {
      margin: 0 2%;
    }
    div.playlistFolder {
      box-sizing: border-box;
      width: 250px;

      // width: 32%;
      float: left;
      position: relative;
      margin-bottom: 2%;
      border: solid 1px $blue;
      background-color: rgba(255, 255, 255, .8);
      // height: 80px;
      // padding: 30px 0;
      small {
        clear: both;
        float: right;
      }
      a {
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        // box-sizing: border-box;
        // width: 100%;
        display: inline-block;
        // text-decoration: none;
      }
      a.playlistFolderTitle {
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        border-bottom: 1px solid $purple;
        // box-sizing: border-box;
        width: 100%;
        display: inline-block;
        // text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;

      }
    }

    div.songContainer {
      ul {
        width: 70%;
        li:not(:last-child) {
          border-bottom: solid 1px $blue;
        }
        li {
          p {
            display: inline-block;
            width: 50%;
          }
          a, form {
            float: right;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  body {
    nav {
  //     background-color: $red;
  //     width: 100%;
  //     right: 0;
  //     overflow: hidden;
      ul {
  //       width: 30%;
  //       float: right;
  //       text-decoration: none;
  //       li {
  //         display: inline;
  //         list-style-type: none;
  //         padding: 15px;
  //         text-align: right;
  //         a {
  //           color: $white;
  //           text-decoration: none;
  //         }
  //       }
      }
    }
    main {
      // padding: 240px;
      // border: 1px solid black;
      h1 {
        padding: 0 20px;
        text-align: center;
      }
      width: 90%;
      // margin: 0 auto;
      div.playlistFolder:nth-child(n) {
        width: 300px;
        margin: 0 3% 3% 3%;
      }
      // div.playlistFolder:nth-child(3n+2) {
      //   // margin: 0;
      //   // background-color: red;
      // }
      // div.playlistFolder:nth-child(2n+1) {
      //   // background-color: red;
      //   // margin-right: 5%;
      // }

    }
  // }
  // button, input, textarea {
  //   border: solid 1px black;
  //   font-size: 50px;
  }
}
