$brown: #8b4513;
$yellow: #8b8113;
$green: #138b45;
$purple: #45138b;
$red: #8b131d;
$blue: #13598b;
$bg-white: #c9d7ca;
$grey: #283045;
$white: #fff;

$viewheight: 1vh;
$viewwidth: 1vw;

* { //get rid of whitespace
  margin: 0;
  padding: 0;
  // line-height: 30px;
  color: $green;
  box-sizing: border-box;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: sans-serif;
  height: 50vh;
  background: url("/assets/images/cassette_smallcopy.jpg");
  background-color: $bg-white;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  header {
    nav {
      font-family: 'Josefin Slab';
      ul {
        background-color: $blue;
        list-style-type: none;
        // position: relative;
        // font-size: 0; //get rid of space between li elements
        .floatRight li {float: right;}
        .floatLeft li {float: left;}
        li {
          box-sizing: border-box;
          vertical-align: middle;
          padding: 1vw;
        }
        li.navLogo {
          // padding: 1vw;
          img {
            height: 3vw;
          }
        }
        li:not(.navLogo) {
          // padding: 1vw;
          height: 3vw;
          a {
            font-size: 3vw; //font size adjustes with screen width
            line-height: 4vw;
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
            &:after {
              content: "";
              opacity: 0;
              height: 1px;
              width: 100%;
              left: 0;
              bottom: -5px;
              position: absolute;
              // border-radius: 100px;
              // border: 1px solid $white;
              background-color: $bg-white;
              // opacity: 1;
              transition: opacity 0.5s ease;
              transition: border-bottom 0.5s ease;
            }
            &:hover {
              border-bottom: 1px solid $white;
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    div.message {

    }
  }

  button {
    background-color: $blue;
    color: $white;
    border: outset 5px $blue;
  }

  button.topButton {
    padding: 5px 15px;
    margin: 0 5px 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
  }

  button.center {
    // text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $red;
    border: outset 5px $red;

  }
  button.miniButton {
    border: none;
    color: $red;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0);
  }

  a {
    text-decoration: none;
  }

  form.oneButtonForm {
    display: inline-block;
    button.delete {
      background-color: $red;
      border: outset 5px $red;
    }
  }

  main {
    width: 50vh;
    margin: 0 9vw;
    overflow: hidden;
    // word-wrap: break-word; //for long strings

    h1 {
      font-family: 'Monoton';
      font-size: 4vw;
      margin-bottom: 20px;
      color: $purple;

      &.homepage {
        font-size: 16vw;
        padding-top: 13vw;
        // letter-spacing: 10px;
        font-variant: small-caps;
        // border: solid 1px black;
        font-weight: 500;
        color: $yellow;
        // text-align: right;
        margin: 0 auto;

      }
    }

    aside {
      // background-color: teal;
      margin:0;

      box-sizing: border-box;
      // border: 1px solid red;
      float: right;
      width: 27vw;
      height: 16.5vw;
      // margin-top: vw;
      color: white;
      // padding-top: 1vw;
      iframe, img {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
      }
      // &.homepage {
      //   // background-color: teal;
      //   box-sizing: border-box;
      //   // border: 1px solid red;
      //   margin: 12vh auto 0 auto;
      //
      //   width: 28vw;
      //   height: 17vw;
      // }
    }

    form {
      display: block;
      // line-height: 100px;
      div {
        margin-bottom: 5px;
        label {
          width: 15%;
          display: inline-block;
          text-align: right;
          // background: white;
          // border: solid 1px black;
        }
        input {
          width: 15%;
          border: none;
          // background-color: $blue;
        }
      }
      button.inFormButton {
        width: 150px;
        width: 15%;

      }
    }

    div.folderContainer {
      width: 100%;
      border: 1px solid red;
      // background-color: white;
    }

    div.results {
      padding: 10px;
      width: 100%;
      // float: right;
      display: block;
      overflow: hidden;
      div {
        width: 100%;
        box-sizing: content-box;

        border-top: solid 3px $blue;
        border-bottom: solid 3px $blue;
        margin-bottom: 5px;

        background-color: rgba(255, 255, 255, .5);
        img {
          float: left;
          margin-right: 10px;
          // display: block;
        }
        h4, small {
          float: right;
          width: 50%;
        }
        button {
          float: right;
          margin-right: 10%;
          margin-top: 5%;
        }
      }
    }
    div.results * {
      display: inline-block;
    }

    div.playlistFolder {
      box-sizing: border-box;
      float: left;
      position: relative;
      width: 32%;
      height: 15vh;
      margin-bottom: 2%;
      border: solid 1px $blue;
      background-color: rgba(255, 255, 255, .8);
      &:nth-child(3n+2) {
        margin: 0 2%;
      }
      small {
        clear: both;
        float: right;
      }
      a {
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        display: inline-block;
      }
      a.playlistFolderTitle {
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        border-bottom: 1px solid $purple;
        width: 100%;
        display: inline-block;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    div.listContainer {
      width: 65%;
      ul {
        // width: 70%;
        li:not(:last-child) {
          border-bottom: solid 1px $blue;
        }
        li {
          p {
            display: inline-block;
            width: 50%;
          }
          button, form {
            float: right;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  body {
    nav {
      ul {}
    }
    main {
      padding: 0;
      margin: 0 auto;
      width: 90%;
      h1 {
        // padding: 0 20px;
        text-align: center;
        &.homepage {
          font-size: 18vh;
          padding: 0;
          // margin-top: -2vh;
        }
      }
      aside {
        width: 40%;
      }
      div.listContainer {
        width: 50%;
        // padding: 0;
      }
      div.playlistFolder {
        &:nth-child(n) {
          margin: 0;
          width: 48%;
        }
        &:nth-child(odd) {
          margin-right: 4%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    background-color: $bg-white;
    background-image: none;
    main{
      width: 100%;
      h1{
        font-size: 5vh;
        margin-bottom: 0;
        &.homepage {
          font-size: 25vw;
        }
      }
      aside {
        width: 100%;
        height: 60vw;
      }
      div.listContainer {
        width: 100%;
        padding: 10px;
      }
    }
  }
}
