<h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="inFormButton">Login</button>
</form>
